@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body{
    background-color: #F6F4F0;
    margin: 0%;
    padding: 0%;
    overflow-y: scroll;
}


::-webkit-scrollbar{
    display: none;
}

h2{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.header{
    background-color: #3F8477;
    height: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    /* justify-content: space-between; */
    position: fixed;
    top: 0%;
    width: 100%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    font-family: "Inter", sans-serif;
    z-index: 1;
}

input{
    background-color: #DDEBE9;
    font-family: "Kanit", sans-serif;
    margin-left: 2.5%;
    padding-right: 15%;
    margin-right: 52%;
}

.headerprofile{
    width: 3.5%;
    height: auto;
    padding-left: 1%;
    margin-right: 3.5%;
}

.logo{
    width: 100%;
    height: auto;

}

.navbar{
    background-color: #9ECAC2;
    /* height: 6%; */
    display: flex;
    padding-left: 19%;
    justify-content: space-around;
    position: fixed;
    top: 11%;
    width: 81%;
    font-family: "Inter", sans-serif;
}

.newtoday{
    text-decoration: underline;
}

.browse{
    text-decoration: underline;
}

.sidebar{
    background-color: #9ECAC2;
    height: 85%;
    width: 10%;
    position: fixed;
    top: 18%;
    /* z-index: 1; */
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
}

button{
    margin: auto;
    font-family: kanit;
}

.sidebar a:active{
    text-decoration: underline;
}

.sidebar a:visited{
    text-decoration: none;
}

.sidebarbanner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

main{
    margin-left: 17%;
    margin-top: 12.5%;
    margin-right: 7%;
    display: flex;
    flex-wrap: wrap;
}

.maintext{
    font-family: "Inter", sans-serif;
    font-weight: 800;
    text-align: center;
    margin-left: 17%;
    margin-right: auto;
}

.filter{
    font-family: "Inter", sans-serif;
    font-weight: 800;
    text-align: center;
    margin-left: 17%;
    margin-right: auto;
    margin-top: 10%;
}

.filteredmain{
    margin-left: 17%;
    margin-top: .5%;
    margin-right: 7%;
    display: flex;
    flex-wrap: wrap;
}

.post{
    width: 30%;
    padding: 1%;
}

.star{
    width: 10%;
    height: auto;
    margin-left: auto;
}

.post img{
    display: block;
    width: 95%;
    height: auto;
}

.post h3{
    font-size: larger;
}

container h3{
    font-family: "Inter", sans-serif;
}

container p{
    font-family: "Kanit", sans-serif;
}

.profilebar{
    background-color: #9ECAC2;
    /* height: 6%; */
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    position: absolute;
    top: 11%;
    font-family: "Inter", sans-serif;
}

.profilebar img{
    width: 6%;
    aspect-ratio: 1/1;
    padding: 1%;
}

.profilebar container{
    width: 50%;
    display: flex;
    justify-content: right;
}

.profilebar .devilinfo{
    justify-content: space-around;
}

.devilinfo img{
    width: .35%;
}

.profilehome section{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}


.profilehome section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.profilehome p{
    text-align: center;
}

.profilehome h3{
    text-align: center;
    font-family: kanit;
}

.profilehome .bio{
    text-align: left;
    margin-left: 1%;
    margin-right: 1%;
    font-family: kanit;
}

.profilebar{
object-fit: contain;
}

.pfpprofile {
    width: 20%;
}

.collectionitems{
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    font-family: kanit;
}

article{
    border: 5px solid #EFEFEF;
    box-shadow: 0 10px 10px 0 darkgray;
    margin-bottom: 2%;
}

.profilebanner {
    border: none;
}

.profilebanner img{
    object-fit: fill;
    width:100%;
    height:100%;
}

.profilehome{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 5%;
}

.profilehome section{
    background-color: #F6F6F6;
    display: block;
    width: 45%;
}

.titletag{
    background-color: #9ECAC2;
    text-align: center;
    margin-top: 0%;
    padding: 1.5%;
    font-family: inter;
}

.bottomtag{
    background-color: #3F8477;
    text-align: center;
    margin-bottom: 0%;
    padding: 1.5%;
    font-family: inter; 
    font-size: medium;
}

.postbar{
    background-color: #9ECAC2;
    display: flex;
    padding-left: 3%;
    position: absolute;
    top: 11%;
    width: 84%;
    font-family: "Inter", sans-serif;
}

.postsidebar{
    background-color: #9ECAC2;
    height: 100%;
    margin-left: 85%;
    width: 15%;
    position: fixed;
    top: 11%;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.postgrid{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 1%;
    padding-right: 1%
    gap:1%;

}

.postgrid img{
    width:85%;
    aspect-ratio: 1/1;
}

.postimg img{
    width: 45%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
   
}

.postmain{
    margin-left: 5%;
    margin-right: 20%;
}


.postinfo{
    display: flex;
    /* width: 80%; */
    justify-content: space-between;
    /* margin-left: auto; */
    /* margin-right: auto; */
    font-family: kanit;
    
}

.posterinfo{
    padding-top: 1%;
    display: flex;
}

.posterinfo2{
    display: flex;
    padding-top: 1%;
    justify-content: end;
    /* text-align: right; */
}

/* .postinfo container{
    width: 50%;
    display: flex;
} */

.postinfo img{
    width: 10%;
    height: auto;
    padding-right: 1%;
}

.desc{
    font-family: kanit;
}

.commentsection{
    display: flex;
    flex-direction: column;
    font-family: inter;
    background-color: white;
    padding-bottom: 2%;
    border: 5px,solid, #EFEFEF;
    box-shadow: 0 10px 10px 0 darkgray;
    /* width: 85%;
    margin-left: auto;
    margin-right: auto; */
}

.commenttag{
    background-color: #9ECAC2; 
    margin-top: 0%;
    padding: 1.5%;
    text-align: center;
}

.comment{
    font-family: kanit;
    background-color: #DDEBE9;
    margin: 1%;
    padding: 1%;
    display: block;
}

.comment img{
    float: left;
}

.comment p{
    float: l;
    overflow: auto;
    margin: 5px;
}

/* .comment p{
display: inline-block;
vertical-align: top;
padding: 3px 10px 3px 0px;
} */

.commentsection img{
    width: 5%;
    padding-right: 1%;
}

.folderphotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-top: 10%; */
    margin-left: 5%;
    margin-right: 5%;
    font-family: inter;
}

.folderphotos img{
    width: 30%;
}

.folderphotos p{
    font-family: kanit;
}

.folderdesc{
    margin-top: 10%;
    text-align: center;
    font-family: "Inter", sans-serif;
}

li{
    font-family: kanit;
}